version: "3.9"
services:
  db:
    image: postgres:17-alpine
    container_name: pg-university-timetable
    environment:
      POSTGRES_DB: university_timetable
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d university_timetable"]
      interval: 5s
      timeout: 3s
      retries: 10
volumes:
  pgdata: