.wrapper {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
}

.table thead tr {
    background: #f9fafb;
}

.table th,
.table td {
    padding: 8px 10px;
    text-align: left;
}

.table tbody tr + tr {
    border-top: 1px solid var(--color-border);
}
